<html>
<head><!-- title: less than 64 characters and include important keywords -->
    <meta charset="utf-8">
    <title>
        Lawler research group on strongly correlated electrons theory
    </title>
    <meta name="description" content=
        "This website is devoted to Michael J. Lawler's research group on
        strongly correlated elecrons theory at Binghamton University and Cornell University">
    <meta name="keywords" content = "">
</head>

<nav>
<ul>
    <li> <a href="index.html"> home </a></li>
    <li> <a href="vision.html"> our vision </a></li>
    <li> <a href="press.html"> press </a></li>
    <li> <a href="talks.html"> talks </a></li>
    <li> <a href="publications.html"> publications </a></li>
    <li> <a href="aboutus.html"> about us </a></li>
 </ul>
</nav>

<aside>
    <h1>Who is citing us</h1>

    (Updated June 23rd, 2016)
    <ul>
       <li>
          <h3 class="title">The novel metallic states of the cuprates: topological Fermi liquids
          and strange metals</h3>
          <div id="authorlist">By Subir Sachdev, Debanjan Chowdhury </div>
          See <a href="http://arxiv.org/abs/1605.03579">arXiv:1605.03579</a>.
       </li>
       <li>
          <h3 class="title">Recent Progress of Point Contact Spectroscopy as a Probe of
          Correlated Electron States"</h3>
          <div id="authorlist">By Wei-Cheng Lee, Laura H. Greene</div>
          See <a href="http://arxiv.org/abs/1512.02660">arXiv:1512.02660</a>.
       </li>
       <li>
          <h3 class="title">Semion wave function and energetics in a chiral spin liquid on the
          Kagome lattice"</h3>
          <div id="authorlist">By Lukasz Cincio, Guifre Vidal, Bela Bauer</div>
          See <a href="http://arxiv.org/abs/1506.03351">arXiv:1506.03351</a>
       </li>
    </ul>    
</aside>

{{ content }}

 </html>
